#este es un ejemplo del archivo .env que deben crear en la raiz del proyecto. nombrarlo solo como .env y no subirlo a github,
#ya que contiene informacion sensible (la llave de la api de su cuenta de Google). 
GOOGLE_API_KEY= aqui se escribe la clave de la api sin comillas